.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    margin: 50px 0;
    
}

.card_img {
    margin: 20px;
}

.card_img img {
    width: 350px;
}
.pr {
 margin: 20px 0;     
 color: rgba(255, 199, 46, 0.9);
 
}

.prb {
 margin: 20px 0;     
 color: rgb(76, 71, 219);
}

.content {
    box-shadow: 0 0 1px 0 gray;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    border-bottom: 5px solid rgba(255, 199, 46, 0.9);
}

.b {
    border-bottom: 5px solid rgb(76, 71, 219);
}
.info {
    
    color: rgb(58, 57, 57);
}

@media all and (max-width: 900px) {
    .card {
        flex-direction: column;
    }
    .card_img{
        text-align: center;
    }
    .card_img img {
    width: 80%;
    }
}
